<div class='loginuser'>
<h2>Login</h2>
<br>

<form action="/sessions/login" method="post">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="Log In">
</form>
</div>
