<h1>SIGN UP PAGE</h1>

<h2>Create Account</h2>
<br>
<div class='signupform'>
<form action="/users" method="post">

  <!-- <div>
    <label for="summoner_name">Battle.Net ID:</label>
    <input type="text" name="summoner_name">
  </div> -->

  <div>
    <label for="email">Email:</label>
    <input type="text" name="email">
  </div>
  <br>
  <div>
  	<label for="username">Username:</label>
  	<input type="text" name="username">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="text" name="password_digest">
  </div>
  <br>
  <input type="submit" value="Create Account">
</form>
</div>
